VITE_SUPABASE_URL=https://ctunadonbxgcuqrvnxgc.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN0dW5hZG9uYnhnY3VxcnZueGdjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc1MzQyMTcsImV4cCI6MjA5MzExMDIxN30.X_jhfj7D-JAZ-PI1YC5OFoUJlwjnIp5Ac0AOQNjImDc
